extends ./layout.jade  

block meta
    title the flat: takeaway crep&ecirc;rie in charlottesville - about
    meta(name="description", content="This is a map you can use to find The Flat! Also some information to contact us.")
    meta(name="keywords", content="crepe, crepes, map, contact, charlottesville, restaurant, food, fast, fast food, flat  dessert, takeaway, pick-up, pick up, outside, delicious, savory, walk")

block content
    div#about.page
        h1 location
        iframe#map(frameborder='0', style='border:0', src='https://www.google.com/maps/embed/v1/place?q=111%20East%20Water%20St%2C%20%23A%20Charlottesville%2C%20VA&key=AIzaSyCzs9jAXndOTPMep1uAVEieuB9RtZnY0jE', allowfullscreen='')
        address(itemprop='address', itemscope='', itemtype='http://schema.org/PostalAddress')
            p(itemprop='streetAddress') 111 E Water St, #A
            p
                span(itemprop='addressLocality') Charlottesville, 
                span(itemprop='addressRegion') VA
                span(itemprop='postalCode') 22902
            p Telephone: 
                span(itemprop='telephone') (434) 978-3528
            p *Located behind The Jefferson Theater
        p
            time(itemprop='openingHours', datetime='Tu-Th 11:00-19:00') Tues-Thurs 11a.m-7p.m.
        p
            time(itemprop='openingHours', datetime='Fr 11:00-00:00') Fri 11a.m.-Midnight.
        p
            time(itemprop='openingHours', datetime='Sa 08:00-00:00') Sat 8a.m.-Midnight
        p
            time(itemprop='openingHours', datetime='Su 11:00-14:00') Sun 11a.m.-2p.m.
        div(style="padding: 0.3em; background-color: white;", data-href="https://www.facebook.com/theflat.downtown", data-layout="standard", data-action="like", data-show-faces="true", data-share="true").fb-like
        a(href="https://twitter.com/theflatcreperie", data-show-count="false").twitter-follow-button Follow @theflatcreperie
        script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');