extends ./layout.jade

block meta
    title the flat creperie in charolettesville
    meta(name='description', content='The Flat is a crepe shop in the city of Charolettesville, specializing in savory, delishious crepes and sweet dessert crepes..')
    meta(name='keywords', content='crepe, crepes, charolettesville, restaurant, food, fast, fast food, flat, dessert, pick-up, pick up, outside, delicious, savory, walk')

block content
    h1 welcome to the flat
    h2 If you're looking for hot, delicious crepes... you've come to the right place.