extends ./layout.jade

block meta
    title the flat: takeaway cr&ecirc;perie in charlottesville
    meta(name='description', content='The Flat is a takeaway cr&ecirc;pe in the city of Charlottesville, specializing in savory, delicious cr&ecirc;pes and sweet dessert cr&ecirc;pes..')
    meta(name='keywords', content='cr&ecirc;pe, cr&ecirc;pes, charlottesville, restaurant, food, fast, fast food, flat, takeaway, dessert, pick-up, pick up, outside, delicious, savory, walk')

block content
    h1 welcome to the flat
    h2 If you're looking for hot, delicious cr&ecirc;pes... you've come to the right place.