extends ./layout.jade  

block meta
    title the flat creperie in charolettesville - menu
    meta(name="description", content="This is The Flat's awesome menu")
    meta(name="keywords", content="crepe, crepes, menu, charolettesville, restaurant, food, fast, fast food, flat, dessert, pick-up, pick up, outside, delicious, savory, walk")


block content
    div#menu.page
        h1 menu
        h2 Breakfast (All Day!)
        ul
            li Greene Eggs 
                span.ingredients Egg, Feta & Veg
                span.price 9
            li Hangover Relief 
                span.ingredients Local Ham, Egg & Cheese
                span.price 8.5
        h2 Delicious Desserts
        ul
            li Mama's Apple Pie 
                span.ingredients Vanilla, Butter, Sugar, Apples & Cinnamon
                span.price 5
            li Crepe Suzette 
                span.ingredients Butter, Sugar & Grand Marnier
                span.price 4
            li Crepe Sucre 
                span.ingredients Sugar, Butter & Cinnamon
                span.price 3
            li Crepe Sucre 
                span.ingredients Sugar & Lemon
                span.price 3
            li Chocolage Delights
                span.ingredients Nutella, Milk & Dark or White Chocolate/Add Apples, Ba nanas or Strawberries +1.5
                span.price 4/5.5
            li Chocolage Chip Cookie Crepe
                span.ingredients Butter, Brown Sugar, Vanilla & Milk Chocolate
                span.price 5
        h2 All Day
        ul
            li The Prince of Denmark 
                span.ingredients Ham, Spinach, Honey Mustard, Brie
                span.price 9.5
            li Southside of Heaven 
                span.ingredients Chicken, Spinach, Onion, Feta, Cheddar
                span.price 8.5
            li Return of the Kind 
                span.ingredients Chicken, Avocado, Feta
                span.price 6
            li Crepes According to Anna 
                span.ingredients Local Jam with Brie/Add chicken or local ham +3
                span.price 5/8
            li Tofull 
                span.ingredients Local Tofu, Veggies (Vegan!)
                span.price 7.5
            li Epic Veg 
                span.ingredients Fresh Veggies & Cheese
                span.price 7.5
            li Temptation of Adam 
                span.ingredients Apple & Brie/Add chicken or ham +1
                span.price 5.5/6.5
        h2 Drinks
            ul
                li Sweet & Unsweet Iced Tea, Lemonade & Bottled Water